#link() {
  .inv() {
    color: @white;
    padding: 4px;
    text-decoration: none;

    &:hover {
      color: @dark;
      background-color: @light;
    }

    &:active {
      text-decoration: underline;
    }
  }

  .button(@color: @blue) {
    background-color: @white;
    border: none;
    color: @color;
    cursor: pointer;
    font-size: @fontSize;
    outline: none;
    padding: 4px;

    &:hover {
      color: @white;
      background-color: @blue;
    }

    &:active {
      text-decoration: underline;
    }
  }

  .def() {
    color: @black;
    padding: 4px;
    text-decoration: none;

    &:hover {
      color: @light;
      background-color: @dark;
    }

    &:active {
      text-decoration: underline;
    }
  }
}
